<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="uk.ac.edina.spatialite"
        version="0.0.1">

  <name>SpatialLite</name>
  <description>Cordova SpatialLite Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,spatialite</keywords>

  <js-module src="www/SpatiaLite.js" name="SpatiaLitePlugin">
    <clobbers target="SpatiaLitePlugin" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SpatiaLitePlugin">
        <param name="android-package" value="uk.ac.edina.spatialite.SpatiaLitePlugin"/>
      </feature>
    </config-file>

    <source-file src="src/uk/ac/edina/spatialite/SpatiaLitePlugin.java"
                 target-dir="src/uk/ac/edina/spatialite/" />

    <source-file src="src/jsqlite/Authorizer.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Backup.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Blob.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/BusyHandler.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Callback.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Constants.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Database.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Exception.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Function.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/FunctionContext.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Profile.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/ProgressHandler.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Stmt.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/TableResult.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Trace.java" target-dir="src/jsqlite/" />
    <source-file src="src/jsqlite/Vm.java" target-dir="src/jsqlite/" />

  </platform>
</plugin>
